$color1: rgba(0, 48, 73, 1);
$color2: rgba(214, 40, 40, 1);
$color3: rgba(247, 127, 0, 1);
$color4: rgba(252, 191, 73, 1);
$color5: rgba(234, 226, 183, 1);
/*
font-family: 'Comfortaa', cursive;
font-family: 'Crimson Text', serif;
*/
$comfortaa: "Comfortaa", cursive;
$crimson: "Crimson Text", serif;

body {
  font-family: $crimson !important;
  color: $color1;
  background: rgba(234, 226, 183, 0.2);
}

.jumbotron {
  background: $color5;
  box-shadow: 3px 6px rgba(234, 226, 183, 0.5);

  h1 {
    font-family: $comfortaa;
    font-size: 2.4rem !important;
    font-weight: 700;
    .fa-sun {
      color: $color3;
    }
  }

  .lead {
    font-size: 1.7rem;
  }
}

h2 {
  font-size: 2.1rem;
  font-weight: 700;
}

ul {
  font-size: 1.7rem;
}

.objectives {
  p {
    font-size: 1.7rem;
    margin-bottom: 0.4rem;
  }
}

.data-source {
  li {
    color: $color3;
  }
}

.tip-style {
  background: $color1;
  color: $color5;
  font-weight: 700;
  text-align: center;
  border-radius: 10%;
}

.btn-map {
  background: none;
  color: $color1;
  border: $color1 2px solid;
  font-weight: 700;
  font-size: 1.5rem;
  outline: 0 !important;

  &:hover,
  &:active,
  &:focus {
    background: $color1;
    color: $color5;
    border: rgba(234, 226, 183, 0.2) 2px solid;
    outline: none;
    box-shadow: none;
  }
}

.btn-map-active {
  background: $color1 !important;
  color: $color5 !important;
  border: rgba(234, 226, 183, 0.2) 2px solid !important;
  outline: none !important;
  box-shadow: none !important;
}

.pointer {
  cursor: pointer;
}

hr {
  border-top: rgba(234, 226, 183, 0.5) 2px solid;
}

b {
  color: $color3;
}

a {
  color: $color3;
  font-weight: 700;
  &:hover,
  &:active,
  &:focus {
    color: $color4;
  }
}

.literature {
  a {
    font-size: 1.7rem;
  }

  .literature-box {
    margin-top: 1.2rem;

    .literature-states {
      border-right: 1.5px solid $color1;
      li {
        cursor: pointer;
        &:hover,
        &:active,
        &:focus {
          color: $color3;
          text-decoration: underline;
        }
      }
    }

    .literature-content {
      p {
        font-size: 1.7rem;
      }
    }
  }
}

.states-li {
  display: none;
}

.show {
  display: block !important;
}

.card {
  margin-top: 2rem;

  .card-header {
    font-size: 1.8rem;
    font-family: $comfortaa;
    font-weight: 700;
    background: rgba(234, 226, 183, 0.5);
    border: none;
  }

  .card-body {
    font-size: 1.5rem;
    font-weight: 700;
    background: rgba(234, 226, 183, 0.2);

    p {
      margin-bottom: 0;
    }

    a {
      font-size: 2.5rem;
    }

    padding-bottom: 0;
  }
}
